<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <title>Main</title>
    <style>
        .btn {
            background-color: #B7EAAD;
            border-color: #B7EAAD;
            text-decoration: none;

        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B7EAAD;">
      <div class="container-fluid">
        <a class="navbar-brand px-5" href="/">SAGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-5">
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="/correct">Correct</a>
            </li>
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Augment
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/augment/sbsc">SBSC</a></li>
                <li><a class="dropdown-item" href="/augment/augmentex">Augmentex</a></li>
                <li><a class="dropdown-item" href="/augment/pipeline">Pipeline</a></li>
              </ul>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="/help">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <h1 class="display-5 fw-bold gap-3 px-4" style="text-align: center;">About SAGE</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          
          <h4 style="text-align: center;"><span class="badge bg-secondary">Key features</span></h4>
          <li style="text-align: left">Multilingual spelling correction with support for Russian and English</li>
          <li style="text-align: left">Various models of different sizes and characteristics to optimize speed and quality</li>
          <li style="text-align: left">Augmentation methods for generating training data</li>
          <li style="text-align: left">Web interface with a convenient input form and file download capabilities</li>
          <li style="text-align: left">Asynchronous text processing without blocking the interface</li>
          <li style="text-align: left">Support for different file formats (TXT, CSV, TSV)</li>
          <li style="text-align: left">REST API for easy integration with other systems</li>
          <li style="text-align: left">Results in CSV format for easy export</li>
          <br>
          <h4 style="text-align: center"><span class="badge bg-secondary">Input data</span></h4>
          <p style="text-align: left">The system supports the following file formats:</p>
          <li style="text-align: left">TXT - text files</li>
          <li style="text-align: left">CSV - comma separated values files</li>
          <li style="text-align: left">TSV - tab separated values files</li>
          <br>
          <h4 style="text-align: center"><span class="badge bg-secondary">Asynchronicity</span></h4>
          <p style="text-align: left">SAGE uses asynchronous task processing for working with large texts:</p>
          <ol type="1">
            <li style="text-align: left">After sending a request, a unique `task_id` is generated</li>
            <li style="text-align: left">The user is redirected to a waiting page</li>
            <li style="text-align: left">Every 10 seconds, the page automatically refreshes</li>
            <li style="text-align: left">When processing completes, a redirect to the results page occurs</li>
          </ol>

        </div>
        <div class="col">
          <h4 style="text-align: center"><span class="badge bg-secondary">Usage</span></h4>
          <h6 style="text-align: left">Spelling correction</span></h6>
          <ol type="1">
            <li style="text-align: left">Choose the language of the text</li>
            <li style="text-align: left">Write or upload the text (TXT, CSV, TSV)</li>
            <li style="text-align: left">(Optional) Allow data collection for analysis</li>
            <li style="text-align: left">Receive the corrected text and download the results</li>
          </ol>

          <h6 style="text-align: left">Augmentation with Augmentex</span></h6>
          <ol type="1">
            <li style="text-align: left">Choose the level of augmentation (chars or words)</li>
            <li style="text-align: left">Select the language</li>
            <li style="text-align: left">Configure settings:
              <ol>
                <li>Specify the percentage of the phrase to be augmented (unit_prod)</li>
                <li>Set the minimum and maximum number of changes</li>
                <li>Enter a random seed number</li>
              </ol>
            </li>
            <li style="text-align: left">Enter your text or upload a file</li>
            <li style="text-align: left">Receive a generated text</li>
          </ol>

          <h6 style="text-align: left">Augmentation with SBSC</span></h6>
          <ol type="1">
            <li style="text-align: left">Choose the language of the text</li>
            <li style="text-align: left">Enter your text or upload a file</li>
            <li style="text-align: left">Choose the dataset for calculating the error distribution</li>
            <li style="text-align: left">Receive the augmented text</li>
          </ol>

          <h6 style="text-align: left">Augmentation with Pipeline</span></h6>
          <ol type="1">
            <li style="text-align: left">Select a sequence of augmentation methods (up to three)</li>
            <li style="text-align: left">Configure settings and specify the language</li>
            <li style="text-align: left">Enter your text or upload a file</li>
            <li style="text-align: left">Choose the dataset (for SBSC method)</li>
            <li style="text-align: left">Receive the augmented text</li>
          </ol>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>